* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {}

a {
    list-style: none;
    color: inherit;
    text-decoration: none;
}

img {
    width: 100%;
    height: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0;
}

button.navbar-toggler {
    background: aliceblue;
}

button {
    color: #fff;
    font-family: "K2D", sans-serif;
    font-size: 20px;
    padding: 7px 30px;
    background-color: #D82A4E;
    border: none;
    font-weight: 400;
    border-radius: 10px;
}

.banner-bg {
    background-image: url('../img/main-banner.png');
    background-repeat: no-repeat;
    height: 700px;
    background-size: cover;
}

.banner-logo {
    width: 194px;
    height: 89px;
}

.banner-nav {
    font-size: 18px;
    font-weight: 400;
    font-family: "K2D", sans-serif;
    ;
}

.banner-btn button {
    border-radius: 0%;
}

.banner-nav ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.banner-nav .nav-link {
    color: #fff;
    padding-left: 10px;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: #D82A4E;
}

.banner-nav .nav-link:hover {
    color: #D82A4E;
    text-decoration: underline;
}

/* .banner-nav .nav-item a.active {
    color:#fff;
  }
   */
.banner-title {
    padding-top: 160px;
    color: #fff;
}

.banner-title h3 {
    font-family: "K2D", sans-serif;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    line-height: 62px;
    max-width: 759px;
    margin: auto;
}

.banner-title p {
    font-family: "K2D", sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    line-height: 19.5px;
    max-width: 807px;
    margin: 0 auto;
    padding-top: 40px;
}

.banner-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.banner-form input {
    padding: 7px;
    margin-left: 10px;
}

.banner-form button {
    margin-left: 10px;
}


.course-bg {
    background-color: #e8c4b4;
    width: 100%;
    padding-bottom: 100px;
}

.course {
    transform: translate(11px, -58px);

}

.course-Learn {
    background-color: #4FB0DC;
    padding-bottom: 20px;
    width: 100%;
}

.course-img {
    max-width: 90px;
    padding: 10px 10px;
}

.course-text {
    padding: 20px;

}

.course-text h5 {
    color: #fff;
    font-family: "K2D", sans-serif;
    font-size: 20px;
    font-weight: 500;
}

.course-text p {
    color: #fff;
    font-family: "K2D", sans-serif;
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
    max-width: 264px;
    padding-top: 10px;

}

.course-Learn-tady {
    background-color: #5CB100;
    padding-bottom: 20px;
    width: 100%;
}

.course-Learn-event {
    background: #EC661F;
    padding-bottom: 20px;
    width: 100%;

}

.course-title h3 {
    font-size: 30px;
    line-height: 47px;
    font-family: "K2D", sans-serif;
    font-weight: 700;
    text-align: center;
    color: #000;
    padding-top: 18px;

}

.course-title2 h3 {
    font-size: 30px;
    line-height: 47px;
    font-family: "K2D", sans-serif;
    font-weight: 700;
    text-align: center;
    color: #000;
    padding-top: 88px;
}

.course-title2 p {
    font-size: 21px;
    font-family: "K2D", sans-serif;
    text-align: center;
    line-height: 31px;
    padding-top: 30px;

}

.course-title p {
    font-size: 21px;
    font-family: "K2D", sans-serif;
    text-align: center;
    line-height: 31px;
    padding-top: 30px;

}

.course-box {
    border-radius: 10px 10px 10px 10px;
    background-color: #EDF4F6;
    margin-top: 50px;

}

.devlopment-text {
    padding: 15px;
}

.course-devlopment {
    overflow: hidden;

}

.course-devlopment img {
    transition: 2s;
    overflow: hidden;

}

.course-box:hover .course-devlopment img {
    transform: scale(1.2);
    transition: 2s;

}

.devlopment-text h5 {
    font-size: 20px;
    font-family: "K2D", sans-serif;
    line-height: 32px;
    font-weight: 700;

}

.devlopment-text p {
    font-size: 15px;
    font-family: "K2D", sans-serif;
    line-height: 29px;
    font-weight: 400;

}

.devlopment-text h6 {
    font-size: 20px;
    font-family: "K2D", sans-serif;
    line-height: 26px;
    font-weight: 700;
    overflow: hidden;
    color: #D82A4E;
    padding-top: 12px;
}

.course-bg-color {
    background-color: #D82A4E;
    border-radius: 10px;
    margin-top: 80px;
    padding-bottom: 30px;
    padding-top: 30px;
}

.course-bg-color h3 {
    color: #fff;
    font-size: 45px;
    font-family: "K2D", sans-serif;
    text-align: center;

}

.course-form {
    background-color: #fff;
    max-width: 80%;
    margin-top: 50px;
    justify-content: center;
    margin: 50px auto 0px;
    border-radius: 10px;
    padding: 30px;

}

.course-form form {

    display: flex;
}


.course-form input {
    margin-left: 10px;
    padding: 10px;
    background-color: #EDF4F6;
    border: none;
    border-radius: 10px;
    outline: none;
    width: 36%;
}


.course-btn {
    margin-left: 10px;
}

.Signup-img {
    height: 100%;
}

.Signup-img img {
    object-fit: cover;
}

.Signup {
    padding: 70px;
}

.Signup-bg {
    background-color: #D82A4E;
    margin-top: 100px;
}

.Signup-box {
    background-color: #fff;
    max-width: 600px;
    margin-top: 20px;
}

.Signup-title h3 {
    color: #fff;
    font-size: 30px;
    line-height: 47px;
    font-family: "K2D", sans-serif;
}

.Signup-title p {
    color: #fff;
    font-size: 16px;
    font-family: "K2D", sans-serif;
}

.Signup-form {
    padding: 38px;
}

.Signup-form input {
    padding: 12px;
    width: 100%;
    border-radius: 10px;
    background: #EDF4F6;
    border: none;
    outline: none;
}

.Signup-form-fild {
    padding: 13px;
}

.Signup-btn {
    text-align: end;
    border-radius: 10px;
    padding: 13px;
}

.Community {
    text-align: center;
    margin-top: 30px;
}

.footer-bg {
    background-image: url('../img/Rectangle 36.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.footer-overlay {
    background-color: #000000c9;
    padding-top: 100px;

}

.footer-titels {
    padding-top: 100px;
}

.contact-info ul li {
    list-style: disc;
}

.footer-text ul {
    list-style: none;
    padding-left: 0%;
}

.footer-text h5 {
    color: #fff;
    font-family: "K2D", sans-serif;
    line-height: 28px;

}

.footer-text li {
    color: #fff;
    font-family: "K2D", sans-serif;
    line-height: 22px;
    padding-top: 12px;
    font-size: 15px;
    transition: 1s;

}
.footer-text li:hover {
    color: #D82A4E;
    transition: 1s;
    transform: scale(1.1);
}

.footer-input input {
    padding: 10px;
    border-radius: 10px;
    border: none;
    width: 100%;
    background: #EDF4F6;
}

.footer-btn {
    text-align: end;
    margin-top: 22px;
}

.footer-input {
    padding-top: 12px;
}

.cpoyright-bg {
    background-color: #d9d9d938;
    margin-top: 100px;

}

.cpoyright {
    color: #fff;
    font-family: "K2D", sans-serif;
    line-height: 20px;
    padding-top: 30px;
    font-size: 13px;

}

.cpoyright-text {
    color: #fff;
    font-family: "K2D", sans-serif;

}

.cpoyright-text ul {
    display: flex;
    list-style: none;
    justify-content: end;
    padding-top: 30px;
}

.cpoyright-text ul li {
    padding-left: 10px;
    font-size: 13px;
}



.copyright-border {
    border-right: 2px solid #000;
    padding: 11px;

}

/* about us  */
.banner-bg-about {
    background-image: url('../img/people-are-students-.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.about-title h3{
    color: #000;
    font-size: 35px;
    font-family: "K2D", sans-serif;
    margin-top: 100px;
}
.about-title p{
    color: #000;
    font-size: 20px;
    font-family: "K2D", sans-serif;
    line-height: 30px;
    padding-top: 20px;
    max-width: 615px;
}
.about-text h3{
    color: #000;
    font-size: 35px;
    font-family: "K2D", sans-serif;
    margin-top: 100px;
    padding: 18px;
}
.about-icon {
    padding-top: 10px;
}
.about-stoy{
    padding: 18px;
}
.about-icon i{
color: #D82A4E;
font-size: 22px;
}
.about-icon a{
    color: #000;
    font-size: 20px;
    font-family: "K2D", sans-serif;
    line-height: 30px;
    padding-left: 20px;
    padding-top: 10px
    }
  
    .about-team {  
        overflow: hidden;
        width: 261px;
        height: 174px;
        margin-top: 30px;

    }
    .about-team img{
        transition: 2s;
    }
    
    .about-team:hover.about-team img{
        transform: scale(1.2);
        transition: 2s;
    
    }
    /* .about-team:hover.about-team img{
        transform: scale(1.2);
        transition: 2s;
    
    } */
.about-team-text h3{
    color: #000;
    font-size: 35px;
    font-family: "K2D", sans-serif;
    padding-top: 70px;
    text-align:center ;
}

.team-text h6{
    color: #000;
    font-size: 25px;
    font-family: "K2D", sans-serif;
    text-align:center ;
 padding-top: 10px;

}
.team-text p{
    color: #000;
    font-size: 20px;
    font-family: "K2D", sans-serif;
text-align: center;   
 padding-top: 10px;
}


















/* course  css */
.about-course {
    transform: translate(0px, -146px);
}

.banner-bg-course {
    background-image: url('../img/Rectangle\ 40.png');
    background-repeat: no-repeat;
    height: 500px;
    background-size: cover;
}

.course-btn-about button {
    text-align: center;
    border-radius: 0%;
}

.course-btn-about {
    text-align: center;
}

.about-btn {
    margin-left: 10px;

}

.about-btn button {
    color: #fff;
    font-family: "K2D", sans-serif;
    font-size: 20px;
    padding: 7px 59px;
    background-color: #000;
    border: none;
    font-weight: 400;
    border-radius: 0%;
}

.course-bg-color-about {
    background-color: #D82A4E;
    padding-bottom: 80px;
    padding-top: 30px;
}


.course-form-about {
    max-width: 94%;
    margin-top: 50px;
    justify-content: center;
    margin: 50px auto 0px;
    border-radius: 10px;
    /* padding: 30px; */
}

.course-form-about form {

    display: flex;
}

.course-form-about input {
    margin-left: 10px;
    padding: 10px;
    background-color: #fff;
    border: none;
    border-radius: 10px;
    outline: none;
    width: 36%;
}



/* Style the tab */
.tab {
    overflow: hidden;
    display: flex;
    justify-content: center;

}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 4px 17px;
    transition: 0.3s;
    font-size: 30px;
    font-family: "K2D", sans-serif;
    color: #000;
    font-weight: 700;
    line-height: 46px;
}

/* Change background color of buttons on hover */
/* .tab button:hover {
    background-color: #ddd;
  }
   */
/* Create an active/current tablink class */
/* .tab button.active {
    background-color: #ccc;
  } */

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    /* border: 1px solid #ccc;
    border-top: none; */
}


.tablinks {
    margin-bottom: 5px;
    /* Adjust as needed */
    margin-right: 5px;
    /* Adjust as needed */
}

.about-bg-color {
    background-color: #EDF4F6;
    border-radius: 37px;
    margin-top: 100px;
}

.about-featured {
    border-radius: 31px;
    height: 100%;
}

.about-featured-col {
    padding-left: 0%;
}

.about-featured-text {
    padding: 63px 20px;
}

.about-featured-text h4 {
    color: #000;
    font-family: "K2D", sans-serif;
    line-height: 28px;
    padding-top: 22px;
    font-weight: 700;
}

.about-featured-text p {
    color: #000;
    font-family: "K2D", sans-serif;
    padding-top: 22px;
    font-weight: 400;
}

.about-featured-text h6 {
    font-size: 20px;
    font-family: "K2D", sans-serif;
    line-height: 26px;
    font-weight: 700;
    overflow: hidden;
    color: #D82A4E;
    padding-top: 22px;
}

.footer-overlays {
    background-color: #000000c9;
    padding-top: 100px;
    margin-top: 100px;
}

/* news section  */
.banner-bg-news {
    background-image: url('../img/news.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-bg-overlay {
    background-color: #00000073;
    padding-bottom: 100px;

}

.news-top {
    margin-top: 100px;
}

.news-btn {
    margin-top: 30px;
}

.news-form input {
    padding: 10px;
    border-radius: 10px;
    border: none;
    width: 100%;
    background: #EDF4F6;
}

.icon-search {

    position: absolute;
    right: 138px;
    top: 12px;
}

.news-text {
    padding-top: 20px;
}

.news-text h5 {
    color: #000;
    font-family: "K2D", sans-serif;
    line-height: 28px;
    padding-top: 12px;
    font-weight: 700;
    font-size: 25px;

}

.news-text p {
    color: #000;
    font-family: "K2D", sans-serif;
    line-height: 28px;
    font-weight: 400;
    font-size: 17px;
    color: #989797;
    padding-top: 10px;

}

.news-title {
    padding-top: 32px;
}

.side-new {
    margin: 0 auto;
    max-width: 201px;
}

.news-text-side {
    margin: 0 auto;
    max-width: 142px;
}

.sidebar {
    position: sticky;
    top: 0;
}

.news-btn-archvies button {
    border-radius: 0%;
    margin-top: 10px;
    width: 100%;
}

/* contect us  */
.banner-bg-contect {
    background-image: url('../img/contect_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.contect-bg {
    background-color: #D82A4E;
    margin-top: 80px;
    padding-bottom: 30px;
    padding-top: 30px;
}

.contect-title h3 {
    color: #fff;
    font-size: 40px;
    font-family: "K2D", sans-serif;
    text-align: center;
}

.contect-title p {
    font-size: 16px;
    font-family: "K2D", sans-serif;
    text-align: center;
    color: #fff;
    text-align: center;
    max-width: 633px;
    margin: 0 auto;
}

.contect-form {
    background-color: #fff;
    margin: 25px 90px 40px 90px;
    padding: 19px 0px 39px 0px;
}

.contect-input {
    padding: 10px;
}

.contect-input input {
    background-color: #EDF4F6;
    border: none;
    width: 100%;
    padding: 12px;
    outline: none;
}

.contect-input textarea {
    background-color: #EDF4F6;
    border: none;
    width: 100%;
    padding: 12px;
    height: 100px;
    outline: none;
}

.contect-btn {
    margin-left: 12px;

}

.contect-text h3 {
    color: #000;
    font-size: 40px;
    font-family: "K2D", sans-serif;
    margin-top: 80px;
}

.contect-text p {
    font-size: 19px;
    font-family: "K2D", sans-serif;
    color: #000;
    line-height: 20px;
    padding-top: 20px;
}

.contect-text p a {
    font-size: 19px;
    font-family: "K2D", sans-serif;
    color: #D82A4E;
    line-height: 20px;
    border-bottom: 2px solid #D82A4E;
}

.contect-text li {
    font-size: 19px;
    font-family: "K2D", sans-serif;
    color: #000;
    line-height: 20px;
    max-width: 224px
}

/* login modal  */
.modal-text {
    font-size: 32px;
    font-family: "K2D", sans-serif;
    color: #fff;
    line-height: 40px;
    max-width: 432px;
    text-align: center;
    margin: 0 auto;
}

.modal-bg {
    background-image: url(/img/modal-bg.png);
    padding-bottom: 100px;

}

.modal-img {
    max-width: 250px;
}

.modal-media {
    background-color: #3B5998;
    padding: 12px 29px;
    width: 100%;
    justify-content: center;
}

.modal-icon-fb {
    color: #fff;

}

.modal-icon-fb i {
    font-size: 22px;
}

.modal-icon-fb a {
    font-size: 20px;
    font-family: "K2D", sans-serif;
    color: #fff;
    padding-left: 10px;
}

.modal-media-twitter {
    background-color: #03A9F4;
    padding: 12px 29px;
    width: 100%;
    justify-content: center;
}

.modal-media-google {
    background-color: #C32F10;
    padding: 12px 29px;
    width: 100%;
    justify-content: center;
}

.modal-social-media {
    display: flex;
    justify-content: center;
}

.modal-login h4 {
    color: #fff;
    font-size: 30px;
    line-height: 30px;
    font-family: "K2D", sans-serif;
    padding-top: 100px;

    text-align: center;
}
.modal-input {
    padding: 9px;
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.modal-input input {
    width: 100%;
    padding: 13px;
    border-radius: 12px;
    border: none;
}
.modal-check {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}
.modal-forget p {
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    text-align: end;
}
.modal-login-btn button{
width: 100%;
margin-top: 80px;
}
.modal{
    --bs-modal-bg: none;

}
.modal-header {

    border-bottom: none;

}

